{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body{
	width: 100%;
	height: 100%;
	background-color: rgb(32,35,48);
}
  
.my_assignments{
            width: 42%;
            margin: 32px;
            padding: 18px;
            background: rgba(240,210,240,0.8);
            border: 1px solid black;
            position: absolute;
            top: 10%;
            left: 50%
  }
  .logo{
  	position: absolute;
  	top: 50%;
  	right: 50%;
  }
#logo {
	position: absolute;
	top: : 70%;
	right: 40%;
	transform: translate(-50,-50);
	animation: fill 0.5s ease forwards 3s;
}

#logo path:nth-child(1){
	stroke-dasharray: 20500px;
	stroke-dashoffset: 20500px;
	animation: line-anim 2s ease forwards .3s;
}
@keyframes line-anim{
	to{
		stroke-dashoffset:0;
	}
}

@keyframes fill:{
	from{
		fill: transparent;
	}
	to{
		fill: white;
	}
}